<div class="container mt-4">
    <div class="row">
        
            <div class="col-xl-8">
                <h2>{{course.name}}</h2>
                <p>{{course.description}}</p>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <center>
                            <p>Bạn đã đăng ký khóa học này</p>
                            <button type="button" class="btn btn-success">Học ngay</button>
                            <p class="mt-4">Trình độ {{course.level}}</p>
                            <p>Học bất kì nơi đâu</p>
                        </center>

                    </div>
                </div>
            </div>
        
    </div>
</div>