<div class="container mt-4">
    <form action="find" method="POST">
        <div class="form-group">
            <label for="q">Tìm kiếm</label>
            <input type="text" class="form-control" id="q" name="q">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>